{
  "root": true,
  "env": {
    "es2021": true,
    "browser": true,
    "vue/setup-compiler-macros": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "indent": ["error", 2],

    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "eol-last": ["error", "always"],

    "no-trailing-spaces": "error",
    "@typescript-eslint/no-explicit-any": "off",

    "comma-dangle": ["error", "always-multiline"],
    "vue/comma-dangle": ["error", "always-multiline"],

    "eqeqeq": ["error", "always"],
    "vue/eqeqeq": ["error", "always"],

    "prefer-template": "error",
    "vue/prefer-template": "error",

    "vue/max-attributes-per-line": ["error", { "singleline": 2 }],
    "vue/multi-word-component-names": "off"
  },
  "overrides": [
    {
      "files": ["*.md"],
      "parser": "eslint-plugin-markdownlint/parser",
      "extends": ["plugin:markdownlint/recommended"],
      "rules": {
        "markdownlint/md013": "off",

        // This does not play well with Frontmatter
        "markdownlint/md025": "off",

        "markdownlint/md029": "off",
        "markdownlint/md033": "off"
      }
    }
  ]
}
