name: lint-typecheck

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Lint
      run: |
        npm ci
        npm run lint:nomd
        npm run typecheck
